/*=====================================
  NAVBAR STYLES 
    ===================================*/


#menu {
    background-color:#2980b9;
   
}

/*=====================================
  HEADERS STYLES 
    ===================================*/


.header-sec .overlay{
    background:rgba(52, 152, 219,1.0);
}

  /*=====================================
  TESTIMONIALS STYLES 
    ===================================*/

.testi-sec .overlay{
    background:rgba(52, 152, 219,1.0);
}
 

/*=====================================
  PRICING STYLES 
    ===================================*/

.single-price {
    background-color:rgba(8, 134, 74,1);
}
.multi-price {
    background-color:#4bb777;
}
/*=====================================
  FOOTER STYLES 
    ===================================*/

 .myfooter {
    background-color:#3498db;
}