html,body {
	height:100%;
	background-color:#333;
}

a:focus {
	outline:none;
}

a:hover {
	color: #8e44ad; /*Added-purple*/
	text-decoration: none;
}

.wrapper {
	width:100%;
	height:100%;
	min-height:100%;
	-webkit-box-shadow:inset 0 0 100px rgba(0,0,0,.5);
	-moz-box-shadow:inset 0 0 100px rgba(0,0,0,.5);
	-ms-box-shadow:inset 0 0 100px rgba(0,0,0,.5);
	-o-box-shadow:inset 0 0 100px rgba(0,0,0,.5);
	box-shadow:inset 0 0 100px rgba(0,0,0,.5);
}

.circle a {
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	width:56px;
	height:56px;
	color:#aaa;
	margin:-28px;
}

.circle a i:hover {
	color:#00ffff; /*#ccc*/
	cursor:pointer;
}

.circle a.center {
	width:175px;
	height:175px;
	z-index:1;
	margin:-87.5px;
}

.circle a.r {
	text-shadow:0 0 10px #222;
	text-align:center;
}

.circle a.r i {
	vertical-align:middle;
	line-height:56px;
	font-size:40px;
}

.circle>a>img {
	display:block;
	width:100%;
}

#about #icons {
	text-align:center;
}

#about #icons a {
	margin:0 15px;
}

.modal-dialog {
	position:absolute;
	top:50%;
	left:50%;
	margin:0;
}

.modal-body {
	overflow-y:auto;
}

.modal-footer {
	margin-top:0;
}

@media max-width 767px {
.modal-dialog {
	width:100%;
}
}